WEB-INF/classes/SHTO_WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ExchangeService" targetNamespace="http://esepshi.kz/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://esepshi.kz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified" targetNamespace="http://esepshi.kz/" version="1.0" xmlns:tns="http://esepshi.kz/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="getExchangeDataToKz" type="tns:getExchangeData"/>
			<xs:element name="getExchangeData" type="tns:getExchangeData"/>
			<xs:element name="getExchangeDataResponse" type="tns:getExchangeDataResponse"/>
			<xs:complexType name="getExchangeData">
				<xs:sequence>
					<xs:element minOccurs="0" name="exchangeData" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getExchangeDataResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getExchangeDataToKz">
		<wsdl:part name="parameters" element="tns:getExchangeDataToKz">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getExchangeData">
		<wsdl:part name="parameters" element="tns:getExchangeData">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getExchangeDataResponse">
		<wsdl:part name="parameters" element="tns:getExchangeDataResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ExchangeService">
		<wsdl:operation name="getExchangeDataToKz">
			<wsdl:input name="getExchangeDataToKz" message="tns:getExchangeDataToKz">
			</wsdl:input>
			<wsdl:output name="getExchangeDataResponse" message="tns:getExchangeDataResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getExchangeData">
			<wsdl:input name="getExchangeData" message="tns:getExchangeData">
			</wsdl:input>
			<wsdl:output name="getExchangeDataResponse" message="tns:getExchangeDataResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ExchangeServiceSoapBinding" type="tns:ExchangeService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getExchangeDataToKz">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getExchangeDataToKz">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getExchangeDataResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getExchangeData">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getExchangeData">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getExchangeDataResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ExchangeService">
		<wsdl:port name="ExchangeServiceImplPort" binding="tns:ExchangeServiceSoapBinding">
			<soap:address location="http://192.168.204.60/ctopshto/ExchangeService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>