WEB-INF/classes/TAIS_WSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://innoforce.kz/tais675" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://innoforce.kz/tais675" targetNamespace="http://innoforce.kz/tais675">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://innoforce.kz/tais675">
			<xs:element name="getExchangeDataRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="json" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="getExchangeDataResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getExchangeDataResponse">
		<wsdl:part element="tns:getExchangeDataResponse" name="getExchangeDataResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getExchangeDataRequest">
		<wsdl:part element="tns:getExchangeDataRequest" name="getExchangeDataRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ExchangeService">
		<wsdl:operation name="getExchangeData">
			<wsdl:input message="tns:getExchangeDataRequest" name="getExchangeDataRequest">
			</wsdl:input>
			<wsdl:output message="tns:getExchangeDataResponse" name="getExchangeDataResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ExchangeServiceSoap11" type="tns:ExchangeService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getExchangeData">
			<soap:operation soapAction=""/>
			<wsdl:input name="getExchangeDataRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getExchangeDataResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ExchangeServiceService">
		<wsdl:port binding="tns:ExchangeServiceSoap11" name="ExchangeServiceSoap11">
			<soap:address location="http://10.59.64.11:43713/soap"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>